
.pawn {
    background-image: url('../../assets/img/pawn.png');
    background-size: 30px 30px;
    z-index: 1;
  }

.knight {
    background-image: url('../../assets/img/knight.png');
    background-size: 30px 30px;
    z-index: 1;
}

.bishop {
    background-image: url('../../assets/img/bishop.png');
    background-size: 30px 30px;
    z-index: 1;
}

.rook {
    background-image: url('../../assets/img/rook.png');
    background-size: 30px 30px;
    z-index: 1;
}

.queen {
    background-image: url('../../assets/img/queen.png');
    background-size: 30px 30px;
    z-index: 1;
}

.king {
    background-image: url('../../assets/img/king.png');
    background-size: 30px 30px;
    z-index: 1;
}
      