.square {
    width: 30px;
    height: 30px;
    border: solid black 1px;
}

.pawn {
  background-image: url('../../assets/img/pawn-white.png');
  background-size: 30px 30px;
}

.selected {
  border: dashed red 1px;
}
