@import "../chessPieces/Types/chessPieceTypes.css";

.square {
    width: 30px;
    height: 30px;
    border: solid black 1px;
}

.black {
  filter: invert(100%)
}

.selected {
  border: dashed red 1px;
}